body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: "Segoe UI", sans-serif;
  padding: 20px;
}

input[type="file"] {
  margin-bottom: 20px;
}

#fileColumns {
  display: flex;
  gap: 1rem;
}

#fileColumns > div {
  flex: 1;
  border: 1px solid #ccc;
  padding: 0.5rem;
  background: #f9f9f9;
  max-height: 300px;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0;
}

/* Style list items inside all columns */
#fileColumns li {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid #333;
}

#fileColumns li:hover {
  background-color: #333;
  color: #fff;
}

.json-viewer {
  background-color: #2d2d2d;
  color: #d4d4d4;
  padding: 10px;
  border-radius: 8px;
  font-family: monospace;
}

.json-viewer .json-viewer-key {
  color: #9cdcfe;
}
.json-viewer .json-viewer-value-string {
  color: #ce9178;
}
.json-viewer .json-viewer-value-number {
  color: #b5cea8;
}
